@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
html {
  position: relative;
}
#fullName {
  text-align: center;
  margin-bottom: 1rem;
}
.borderzero {
  border: 0 none;
}
#filmname {
  margin-bottom: 1rem;
}
.card-body {
  margin-bottom: 1rem;
}
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
